<section class="bg-primary call-to-action hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 hidden-sm"> <img class="img-responsive opaque" src="../img/shard.jpg"/> </div>
            <div class="col-lg-10 col-md-10 col-sm-12">
                <h3 class="section-heading"> 
                    <b> Project Status: </b> Early development, Summer 2016 
                </h3>
                <hr class="divider-thin"
                <div class="container">
                    <div class="row col-lg-10 col-md-10 col-xs-12" >
                        <span class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 opaque-5"> <p class="repo"> /whale-island </p> </span>
                        <span class="col col-lg-5 col-md-5 col-sm-5 col-xs-5 opaque-7"> <p class="type"> NodeJS Bluetooth LE server </p> </span>
                        <span class="col col-lg-3 col-md-2 col-sm-2 col-xs-2 opaque-7"> <progress value="40" max="100">45%</progress></span>
                        <span class="col col-lg-1 col-md-1 col-sm-1 col-xs-1 opaque-5">
                            <img src="https://travis-ci.org/animist-io/whale-island.svg?branch=master"/>
                        </span> 
                    </div>
                    <div class="row col-lg-10 col-md-10 col-xs-12">
                        <span class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 opaque-5"> <p class="repo"> /wowshuxkluh </p> </span>
                        <span class="col col-lg-5 col-md-5 col-sm-5 col-xs-5 opaque-7"> <p class="type"> Mobile client JS libraries </p> </span>
                        <span class="col col-lg-3 col-md-2 col-sm-2 col-xs-2 opaque-7"> <progress value="60" max="100">59%</progress></span>
                        <span class="col col-lg-1 col-md-1 col-sm-1 col-xs-1 opaque-5">
                            <img src="https://travis-ci.org/animist-io/wowshuxkluh.svg?branch=master"/>
                        </span> 
                    </div>
                    <div class="row col-lg-10 col-md-10 col-xs-12">
                        <span class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 opaque-5"> <p class="repo"> /wallowa </p> </span>
                        <span class="col col-lg-5 col-md-5 col-sm-5 col-xs-5 opaque-7"> <p class="type"> Solidity contracts repository </p> </span>
                        <span class="col col-lg-3 col-md-2 col-sm-2 col-xs-2 opaque-7"> <progress value="30" max="100">30%</progress></span>
                        <span class="col col-lg-1 col-md-1 col-sm-1 col-xs-1 opaque-5">
                            <img src="https://travis-ci.org/animist-io/wallowa.svg?branch=master"/>
                        </span> 
                    </div>
                    <div class="row col-lg-10 col-md-10 col-xs-12">
                        <span class="col col-lg-3 col-md-3 col-sm-3 col-xs-3 opaque-5"> <p class="repo"> /wolves </p> </span>
                        <span class="col col-lg-5 col-md-5 col-sm-5 col-xs-5 opaque-7"> <p class="type"> Sample Ionic application </p> </span>
                        <span class="col col-lg-3 col-md-2 col-sm-2 col-xs-2 opaque-7"> <progress value="0" max="100">0%</progress></span>
                        <span class="col col-lg-1 col-md-1 col-sm-1 col-xs-1 opaque-5">
                            <img src="https://travis-ci.org/animist-io/wolves.svg?branch=master"/>
                        </span> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
