<section id="components">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Components</h2>
                <hr class="divider">
            </div>
        </div>
    </div>
    <div class="container">
         <div class="row">
            <!-- Pi Image for larger screens -->
            <div class="col-lg-5 col-sm-6 hidden-xs text-center">
                <div class="service-box">
                    <img src="../img/stack/pi3_bw_light.jpg" class="img-responsive"/> 
                </div>
            </div>
            <!-- Pi Image for smaller screens -->
            <div class="col-xs-2 visible-xs text-center"></div>
            <div class="col-xs-8 visible-xs text-center">
                <div class="service-box">
                    <img src="../img/stack/pi3_bw.jpg" class="img-responsive"/> 
                </div>
            </div>
            <div class="col-xs-2 visible-xs text-center"></div>

            <!-- Whale Island description -->
            <div class="col-lg-7 col-sm-6 col-xs-12">
                <div class="service-box no-top-xs">
                  <a href="https://github.com/animist-io/whale-island" target="_blank">
                     <h3 class="text-center"> Whale Island  <i class="fa fa-github component-icon"></i> </h3>
                  </a>
                  <p>
                  A micro-computer based Ethereum client and Bluetooth beacon that connects to mobile devices with a BLE server. Its API targets contract contingencies about location. 
                  <hr class="primary">
                  <b> Services include: </b> 
                  <li> Detection/authentication of contract participants. </li>
                  <li> Endpoints for contract deployment and execution. </li>
                  <li> Endpoints for blockchain queries and payments. </li> 
                  <li> Channels for contracts to broadcast BLE signal. </li>
                  </p>
                </div>
            </div>
         </div>
         <hr class="divider">
         <div class="row">
            <!-- IPhone Image for smaller screens -->
            <div class="col-xs-12 visible-xs">
                <div class="service-box">
                    <img src="../img/stack/iphone-hor_bw.png" class="img-responsive"/> 
                </div>
            </div>
            <!-- Wowshuxkluh description -->
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="service-box">
                  <a href="https://github.com/animist-io/wowshuxkluh" target="_blank">
                     <h3 class="text-center"> Wowshuxkluh <i class="fa fa-github component-icon"></i> </h3>
                  </a>
                  <p>
                  Angular/Ionic module with basic services for Ethereum account management and a suite of methods for 
                  connecting to Animist Bluetooth endpoints. 
                  <hr class="primary">
                  <b> Features include: </b>
                  <li> Contract compilation and deployment. </li>
                  <li> Contract acquisition for non-deploying parties. </li>
                  <li> Proximity triggered contract execution. </li>
                  <li> Backgrounded / killed-state app wake ups. </li> 

                  </p>
                </div>
            </div>
            <!-- IPhone Image for larger screens -->
            <div class="col-lg-5 hidden-xs hidden-sm">
                <div class="service-box center-phone vcenter">
                    <img src="../img/stack/iphone-hor_bw.png" class="img-responsive"/> 
                </div>
            </div>
            <div class="col-lg-1 hidden-xs hidden-sm"></div>

            <!-- IPhone Image for tablet -->
            <div class="col-sm-1 visible-sm text-center"></div>
            <div class="col-sm-4 visible-sm">
                <div class="service-box center-phone">
                    <img src="../img/stack/iphone_c_short.png" class="img-responsive"/> 
                </div>
            </div>
            <div class="col-sm-1 visible-sm"></div>
        </div>
        <hr class="divider">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12 text-center">
                <div class="service-box">
                    <img src="../img/stack/network_bw.png" class="img-responsive"/> 
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="service-box">
                  <a href="https://github.com/animist-io/wallowa" target="_blank">
                     <h3 class="text-center"> Wallowa <i class="fa fa-github component-icon"></i> </h3>
                  </a>
                  <p>
                  A repository of Solidity contracts written around Animist proximity events.
                  A set of basic patterns and functions developers can adapt to generate their
                  own location-based contracts.
                  <hr> 
                  <b> Also contains: </b>
                  <li> Full Solidity unit tests written with Truffle. </li>
                  <li> Continuous integration on Travis CI </li>
                  <li> Documentation for contract APIs </li>   
                  </p>
                </div>
            </div>
         </div>
         <hr class="divider">
         <div class="row">
            <!-- Wolves Image for smaller screens -->
            <div class="col-xs-2 visible-xs text-center"></div>
            <div class="col-xs-8 visible-xs text-center">
                <div class="service-box">
                    <img src="../img/stack/wolves_bw.jpg" class="img-responsive"/> 
                </div>
            </div>
            <div class="col-xs-2 visible-xs text-center"></div>
            <!-- Wolves description -->
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="service-box">
                  <a href="https://github.com/animist-io/wolves" target="_blank">
                     <h3 class="text-center"> Wolves <i class="fa fa-github component-icon"></i> </h3>
                  </a>
                  <p>
                    A fully decentralized example application for iOS and Android that lets contestants place stakes on a race from one Animist node to another and distributes rewards to the winner. 
                    <hr>
                    <b> Demonstrates how to: </b>
                    <li> Authenticate participant presence at a location. </li>
                    <li> Emit BLE signal from contracts on command. </li>
                    <li> Subscribe to pre-deployed contracts. </li>  
                    <li> Set up proximity triggered contract outcomes. </li> 
                  </p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 hidden-xs text-center">
                <div class="service-box">
                    <img src="../img/stack/wolves_bw.jpg" class="img-responsive"/> 
                </div>
            </div>
        </div>
    </div>
</section>