
<div class="jumbotron jumbo_top">
  <div class="container">
      <div class="row">  
        <h1 class="text-center"> A Social Proximity App for 
          <span class="text-faded"> GitHub </span> 
        </h1> 
      </div>
      <div class="row">
        <div class="col-lg-6 col-sm-7 col-xs-22 vcenter">
            <div class="service-box">
              <p class="header-left">
              <span class="type"> Git-Phaser </span>
              lets anyone within 50 feet of you see your public GitHub profile, 
              browse your repos and add you to their device contacts. It also sends you notifications when other users 
              are nearby and gives you a history of the people you've crossed paths with. 
              </p>
              <hr> 
              <div class="container">
                <div class="row" >
                    <span class="col col-lg-2 col-md-2 col-sm-2 col-xs-2 text-faded no-left no-right vcenter text-center"> 
                      <i class="fa fa-bluetooth-b fa-2x"></i>
                    </span><!--
                  --><span class="col col-lg-10 col-md-10 col-sm-10 col-xs-10 no-left text-faded vcenter"> 
                      <p class="type"> Proximity detects with Bluetooth LE. </p> 
                    </span>
                </div>
                <div class="row" >
                    <span class="col col-lg-2 col-md-2 col-sm-2 col-xs-2 no-left no-right text-faded col-wider text-center vcenter"> 
                      <i class="fa fa-eye fa-2x"></i>
                    </span><!--
                  --><span class="col col-lg-10 col-md-10 col-sm-10 col-xs-10 no-left text-faded vcenter"> 
                      <p class="type"> Finds users even if their app is closed. </p> 
                    </span>
                </div>
                 <div class="row" >
                    <span class="col col-lg-2 col-md-2 col-sm-2 col-xs-2 text-faded no-left no-right vcenter text-center"> 
                      <i class="fa fa-commenting fa-2x"></i>
                    </span><!--
                  --><span class="col col-lg-10 col-md-10 col-sm-10 col-xs-10 no-left text-faded vcenter"> 
                      <p class="type"> Good for meetups and conferences. </p> 
                    </span>
                </div>
                <div class="row" >
                    <span class="col col-lg-2 col-md-2 col-sm-2 col-xs-2 no-left no-right text-faded col-wider text-center vcenter"> 
                      <i class="fa fa-github fa-2x"></i>
                    </span><!--
                  --><span class="col col-lg-10 col-md-10 col-sm-10 col-xs-10 no-left text-faded vcenter"> 
                      <p class="type"> Free and 
                        <a href="https://github.com/git-phaser/git-phaser" target="_blank"> open source. </a> 
                      </p> 
                    </span>
                </div>
                <hr class="light">
                <div class="row" >
                    <span class="col col-lg-2 col-md-2 col-sm-2 col-xs-2 no-left no-right text-faded col-wider text-center vcenter"> 
                      <span class="fa-stack">
                        <i class="fa fa-map-marker fa-1x type"></i>
                        <i class="fa fa-ban fa-stack-2x"></i>
                      </span>
                    </span><!--
                  --><span class="col col-lg-10 col-md-10 col-sm-10 col-xs-10 no-left text-faded vcenter"> 
                      <p class="type"> <span class="underline">Does not</span>  track by location. </p> 
                    </span>
                </div>
                <div class="row" >
                    <span class="col col-lg-2 col-md-2 col-sm-2 col-xs-2 no-left no-right text-faded col-wider text-center vcenter"> 
                      <span class="fa-stack">
                        <i class="fa fa-dollar fa-1x type"></i>
                        <i class="fa fa-ban fa-stack-2x"></i>
                      </span>
                    </span><!--
                  --><span class="col col-lg-10 col-md-10 col-sm-10 col-xs-10 no-left text-faded vcenter"> 
                      <p class="type"> <span class="underline">Does not</span> share your data. </p> 
                    </span>
                </div>
                <div class="row" >
                    <span class="col col-lg-2 col-md-2 col-sm-2 col-xs-2 no-left no-right text-faded col-wider text-center vcenter"> 
                      <span class="fa-stack">
                        <i class="fa fa-battery-half fa-1x type"></i>
                        <i class="fa fa-ban fa-stack-2x"></i>
                      </span>
                    </span><!--
                  --><span class="col col-lg-10 col-md-10 col-sm-10 col-xs-10 no-left text-faded vcenter"> 
                      <p class="type"> <span class="underline">Does not</span>  drain your battery. </p> 
                    </span>
                </div>
              </div>
            </div>
            <hr>
            <div class="row text-faded pad-bottom hidden-sm header-left">
              Help test git-phaser for iOS on TestFlight. 
            </div>
            <div class="row hidden-sm header-left">
              <form id="ajax-invite" method="post" class="form-group" action="http://localhost">
                <div class="input-group input-group-lg">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary bg-blue" type="button">
                      <i class="fa fa-apple fa-2x apple"></i>
                    </button>
                  </span>
                  <input id="email-input" type="text" class="form-control" placeholder="Email">
                  <span class="input-group-btn">
                    <button id="ajax-button" type="submit" class="btn btn-secondary bg-blue" type="button">
                      <span id="invite-text"> Get Invite </span>
                      <i id="success-icon" class="fa fa-check fa-2x apple"></i>
                      <i id="failure-icon" class="fa fa-remove fa-2x apple"></i>
                    </button>
                  </span>
                </div>
              </form>
            </div>
        </div><!--
     --><div class="col-lg-6 col-sm-5 col-xs-22 vcenter text-center">
            <div class="service-box thinner">
                <img src="../img/login_p.png" class="img-responsive"/> 
            </div>
        </div>
      </div>
      <!-- Tablet TestFlight Invitation -->
      <div class="row text-faded pad-bottom visible-sm">
        <div class="col-sm-1"></div>
        <div class="col-sm-10"> Help test git-phaser for iOS on TestFlight. </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="row visible-sm">
          <div class="col-sm-1"></div>
          <div class="col-sm-10">
            <div class="input-group input-group-lg">
              <span class="input-group-btn">
                <button class="btn btn-secondary bg-blue" type="button">
                  <i class="fa fa-apple fa-2x apple"></i>
                </button>
              </span>
              <input type="text" class="form-control" placeholder="Email">
              <span class="input-group-btn">
                <button class="btn btn-secondary bg-blue" type="button">Get Invite</button>
              </span>
            </div>
          </div>
          <div class="col-sm-1"></div>
      </div>  
  </div>
</div>
