
 <div class="jumbotron jumbo_top">
    <div class="container">
        <div class="row">   
          <br>
          <p class="larger">
             Open Source Ethereum tools <br class="hidden-xs"> for Mobile and IoT.
          </p>
          <p > Animist's goal is to make space and time transactionally <br class="hidden-xs"> 
               available to smart-contracts with an Ethereum IoT client <br class="hidden-xs">
               and location oracle that serves mobile devices over <br class="visible-sm"> Bluetooth. 
          </p> 
          <br> 
          <a href="https://github.com/animist-io" class="btn btn-primary btn-xl page-scroll hidden-xs">
            <i class="fa fa-github fa-2x"></i> 
            <span class="github-text"> Code on Github </span>
          </a>
       </div>
    </div>
 </div>
