
<div class="jumbotron jumbo_top">
  <div class="container">
      <div class="row text-center">  
        <h1 class="text-white"> A Social Proximity App <br class="visible-sm"> for 
          <span > GitHub </span> 
        </h1> 
        <h2 style="line-height: 1.3"> Git-Phaser uses iBeacons to make your public <br class="visible-sm"> GitHub profile 
            <br class="visible-lg"> and repos visible to anyone <br class="visible-sm"> within a 50ft radius of you. </h2>
      </div>
      <div class="row" class="pad-top-25">
        <div class="col-xs-12 visible-xs text-center">
            <div class="service-box no-top-xs">
                <img src="../img/loginnew2.png" class="img-responsive"/> 
            </div>
        </div>
        <div class="col-xs-12 visible-lg visible-xs" style="height: 25px"></div>
      
        <div class="col-lg-5 col-md-6 col-sm-4 hidden-xs text-center vcenter no-left no-right">
            <div class="service-box thinner">
                <img src="../img/loginnew2.png" class="img-responsive max-image"/> 
            </div>
        </div><!--
     --><div class="col-lg-7 col-md-6 col-sm-8 col-xs-12 screenshots vcenter no-left">
            <div class="ss-width"> 
              <h2 class="text-faded text-center"> See profiles. </h2>
              <img src="../img/profile_p.png" class="img-responsive ss-height"/> 
            </div>
            <div class="ss-width"> 
              <h2 class="text-faded text-center"> View location. </h2>
              <img src="../img/map_p.png" class="img-responsive ss-height"/> 
            </div>
            <div class="ss-width"> 
              <h2 class="text-faded text-center"> Find users. </h2>
              <img src="../img/list_p.png" class="img-responsive ss-height"/> 
            </div>
            <div class="ss-width"> 
              <h2 class="text-faded text-center"> Add contacts. </h2>
              <img src="../img/contacts_p.png" class="img-responsive ss-height"/> 
            </div>
            <div class="ss-width"> 
              <h2 class="text-faded text-center"> Get notifications. </h2>
              <img src="../img/notification_p.png" class="img-responsive ss-height"/> 
            </div>
        </div>
      </div>
      
  </div>
</div>
