




      <!-- Phone TestFlight Invitation -->
      <div class="row text-faded pad-bottom visible-xs tablet-invite-row">
        <div class="col-xs-12 email-text no-gutter"> 
          <span> Test git-phaser for iOS on TestFlight. </span> 
        </div>
      </div>
      <div class="row visible-xs no-left no-right">
        <div class="col-xs-12 no-gutter">
          <form id="ajax-invite" method="post" class="form-group" action="https://www.cyclop.se/gitphaser">
            <div class="input-group input-group-lg">
              <input id="email" type="email" class="form-control" placeholder="Email">
              <span class="input-group-btn">
                <button id="ajax-button" type="submit" class="btn btn-secondary bg-blue" type="button">
                  <i id="invite-text" class="fa fa-send fa-2x apple visible-xs"></i>
                  <span><i id="spinner" class="fa fa-circle-o-notch fa-spin text-faded fa-2x apple"></i></span>
                  <i id="success-icon" class="fa fa-check fa-2x apple"></i>
                  <i id="failure-icon" class="fa fa-remove fa-2x apple"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
        <div class="col-sm-1 col-xs-0"></div>
      </div>