  <section class="ss-section">
    <div class="screenshots">
        <div> 
          <h2 class="text-faded text-center"> Find users. <h2>
          <img src="../img/list_p.png" class="img-responsive"/> 
        </div>
        <div> 
          <h2 class="text-faded text-center"> See profiles. <h2>
          <img src="../img/profile_p.png" class="img-responsive"/> 
        </div>
        <div> 
          <h2 class="text-faded text-center"> View location. <h2>
          <img src="../img/map_p.png" class="img-responsive"/> 
        </div>
        <div> 
          <h2 class="text-faded text-center"> Add contacts. <h2>
          <img src="../img/contacts_p.png" class="img-responsive"/> 
        </div>
        <div> 
          <h2 class="text-faded text-center"> Get notifications. <h2>
          <img src="../img/notification_p.png" class="img-responsive"/> 
        </div>
    </div>
  </section>
