<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Stack</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-4 text-center">
                <div class="service-box">
                  <a href="https://www.ethereum.org/" target-"_blank">
                    <img src="../img/stack/ethereum.png" class="img-responsive"/> 
                  </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-4 text-center">
                <div class="service-box">
                  <a href="https://nodejs.org/en/" target-"_blank">
                     <img src="../img/stack/node_bw.png" class="img-responsive"/> 
                  </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-4 text-center">
                <div class="service-box">
                  <a href="http://ionicframework.com/" target="_blank">
                     <img src="../img/stack/ionic_bw.png" class="img-responsive"/> 
                  </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-4 text-center">
                <div class="service-box">
                  <a href="https://www.raspberrypi.org/" target="_blank">
                     <img src="../img/stack/pi_bw.png" class="img-responsive"/> 
                  </a>
                </div>
            </div>
        </div>
    </div>
</section>
